$primary-font: 'Roboto', sans-serif;
$primary-color: #383838;
$primary-color2: #212121;

$white: #fff;
$black: #000;
$blue_q: #007AAF;
$dark_blue_q: #004361;
$very_dark_blue_q: #00203A;
$green_q: #13AB8F;
$dark_green_q: #0A9178;
$h1lh: 1.5; //h1 line height
$light_grey: #efefef;
$dark_white:#f3f3f3;
$grey:#ccc;
$dark_grey:#A6A6A6;
$errorcolor:#C45129;
$clineheihght:1.3;
$green_mat: #2E7D32;
$between: #0D9D99;

$v-gutter: .75rem;
$h-gutter: 2rem;
$toggle-gutter: 2px;
$toggle-width: 90px;
$toggle-height: 26px;

$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);
$trans: cubic-bezier(0.3,0,0.7,1);
