@import 'reset.scss';
@import 'vars';

body{
  font-family:$primary-font;
}

.top_container{
  display:flex;
  width:100%;
  flex-direction:column;
  /*background: $blue_q; !* For browsers that do not support gradients *!
  background: -webkit-linear-gradient(left top, $blue_q, $green_q); !* For Safari 5.1 to 6.0 *!
  background: -o-linear-gradient(bottom right, $blue_q, $green_q); !* For Opera 11.1 to 12.0 *!
  background: -moz-linear-gradient(bottom right, $blue_q, $green_q); !* For Firefox 3.6 to 15 *!
  background: linear-gradient(to bottom right, $blue_q, $green_q); !* Standard syntax *!
  */
  background-image: url('../img/bg_quainted.jpg');
  background-repeat: no-repeat;


  background-size: cover;



  .header{
    display:flex;
    flex-direction:row;
    width:100%;

    .left_head{
      padding-left:20px;
      padding-top:20px;

      img{
        width:150px;
      }

    }
    .right_head{
      color:$white;
      margin-left:auto;
      padding-top:20px;
      padding-right:20px;
      display:flex;
      a:link, a:visited, a:hover, a:visited:hover{
        //height:30px;
        border:1px solid transparent;
        color:$white;
        font-size:18px;
        padding:10px;
        display:flex;
        text-decoration:none;
        border-radius:5px;
        font-weight:300;

      }
      a.register:link, a.register:hover, a.register:visited, a.register:visited:hover{
        border:1px solid $white;
      }



    }


  }

  .top_titles{
    display:flex;
    margin-top:160px;
    margin-bottom:60px;
    text-align:center;
    flex-direction:column;
    align-items: center;
    h1{
      font-size:50px;
      font-weight:300;
      color:$white;

    }
    p{
      font-weight:300;
      color:$white;
      margin-top:20px;
      margin-bottom:20px;
      width:70%;
      font-size:20px;

    }
    .cta{
      display:flex;
      flex-direction:column;
      margin-top:30px;
      margin-bottom:40px;
      align-items: center;
      a:link, a:visited,a:hover, a:visited:hover{
        padding:20px 30px;
        color:$white;
        text-decoration:none;
        background: $green_q;
        display:inline-block;
        width:150px;
        font-weight:300;
        border-radius:5px;
        font-size:20px;
      }
    }
  }
  .top_logos{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding-top:10px;
    padding-bottom:30px;
    flex-wrap: wrap;
    .logo_space{
      display:flex;
      width:200px;
      justify-content: center;
    }
    img{

      opacity: 0.6;
      width:auto;
      max-height:50px;
      margin-top:20px;
      margin-bottom:20px;
    }
  }
}

.container{
  background:$white;
  color:$primary-color;
  display:flex;
  flex-direction:column;
  width:100%;
  padding-top:50px;

  .cookie_content, .simpletext_content_text{
    a, a:link, a:visited, a:hover, a:visited:hover{
      color:#383838;
      text-decoration: underline;
    }
  }


  .any_question{

    h3{
      color:$primary-color;
      font-size:30px;
      font-weight:400;
      width:100%;
      text-align:center;

    }

    p{
      color:$primary-color;
      font-size:16px;
      font-weight:300;
      margin-top:20px;
      margin-bottom:50px;
    }


    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    padding-bottom:50px;

    .mc_embed_signup{
      display:flex;
      flex-direction:column;
    }
    #mc_embed_signup_scroll, #mc_embed_contact_scroll{
      display:flex;
      flex-direction: column;
      width:50%;
      margin:0 auto;
      .privacy_disclaimer{
        font-size:14px;
        line-height: 1.4;
        margin-bottom:20px;
        margin-top:0;
      }
      .mc-field-group{
        display:flex;
        flex-direction: column;
        margin-bottom:20px;
        input{
          -webkit-border-radius: 0;
          outline: none;
          //width:250px;
          padding:10px;
          border:1px solid $light_grey;
          border-radius:5px;
          margin-right:10px;
          font-size:16px;
        }


      }
      input[type="submit"].button{
        -webkit-border-radius: 0;
        outline:none;
        background:$green_q;
        color:$white;
        border:none;
        border-radius:5px;
        font-size:16px;
        padding:10px;

      }
    }

  }
  .simpletext_content{
    display: flex;
    flex-direction: column;
    padding-bottom:50px;
    width:70%;
    margin:0 auto;

    strong{
      font-weight:500;

    }

    h3{
      color:$blue_q;
      font-size:30px;
      font-weight:300;
      width:100%;
      text-align:center;
      margin-bottom:50px;
    }
    .simpletext_content_text{
      display:flex;
      flex-direction: column;


      color:$primary-color;
      font-size:16px;
      font-weight:300;
      line-height:20px;

      h4{
        color:$dark_blue_q;
        font-size:25px;
        font-weight:500;
        text-align:center;
        margin:20px;
        margin-top:40px;
      }

      p{
        width:auto  ;
        padding:20px;
        line-height:1.5;

      }

      ul{
        list-style: circle;
        padding:0px 60px;
        li{
          margin-top:10px;
          line-height:1.5;

        }
      }

      ol{
        list-style: decimal;
        padding:0px 60px;

        li{
          margin-top:10px;

        }
      }

    }
  }

  .email_setup{
    p{
      text-align:center;
    }
  }
  .why_q{
    display: flex;
    flex-direction: column;
    padding-bottom:50px;

    h3{
      color:$blue_q;
      font-size:30px;
      font-weight:300;
      width:100%;
      text-align:center;
      margin-bottom:50px;

    }
    .why_q_content{
      display: flex;
      flex-direction:row;
      justify-content: space-between;

      .block{
        padding:20px;
        display:flex;
        flex-direction:column;
        max-width:350px;
        .why_q_img{
          display: flex;

          align-items: center;
          img{
            height:150px;
            width:150px;
            margin:0 auto;
          }
        }
        .why_q_text{
          display:flex;
          flex-direction: column;
          h3{
            font-size:20px;
            line-height:23px;
            height:40px;
            margin-top:20px;
            margin-bottom:15px;
            font-weight:400;
          }
          p{
            font-size:14px;
            font-weight:300;
            line-height: 1.5;
            text-align:center;

          }
        }

      }

    }
  }
  .how_q{
    background:$white;
    color:$primary-color;
    width:100%;
    padding-top:0px;
    padding-bottom:50px;
    h3{
      color: #a6a6a6;
      font-size: 40px;
      font-weight: 300;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      line-height: 1.5;
    }

    .how_q_block{
      display:flex;
      flex-direction:row;
      margin-bottom:0px;
      .img_how_q{
        width:70%;
        padding:20px;
        img{
          width:100%;
        }
      }
      .img_how_q_m {
      display:none;
      }
        .text_how_q{
        display:flex;
        flex-direction:column;
        justify-content: center;
        padding-left:100px;
        width:50%;
        .text_content{
          flex-direction:column;
          display: flex;
          .head_how{

            display:flex;
            flex-direction: row;
            align-items: center;
            .how_number{
              min-width:50px;
              height:50px;
              background: $blue_q; /* For browsers that do not support gradients */
              background: -webkit-linear-gradient(left top, $blue_q, $green_q); /* For Safari 5.1 to 6.0 */
              background: -o-linear-gradient(bottom right, $blue_q, $green_q); /* For Opera 11.1 to 12.0 */
              background: -moz-linear-gradient(bottom right, $blue_q, $green_q); /* For Firefox 3.6 to 15 */
              background: linear-gradient(to bottom right, $blue_q, $green_q); /* Standard syntax */
              background-repeat: no-repeat;
              color:$white;
              font-size:30px;
              font-weight:500;
              border-radius:5px;
              display:none;
              align-items: center;
              justify-content:center;

            }
            h4{
              font-size:30px;
              margin-bottom:20px;
              //margin-left:30px;
            }

          }
          .how_text{
            display: flex;
            flex-direction: column;
            p{
              //margin-left:80px;
              width:80%;
              font-size:16px;
              font-weight:300;
              color: $primary-color2;
              line-height:1.4;
              margin-top:10px;
              }
          }
        }

      }
    }

    .how_q_block.last{
      .img_how_q{
        order:1;
      }
    }
  }

  .try_free{
    background: $blue_q; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $blue_q, $green_q); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $blue_q, $green_q); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $blue_q, $green_q); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $blue_q, $green_q); /* Standard syntax */
    background-repeat: no-repeat;
    color:$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    padding-bottom:50px;
    h3{
      font-size:30px;
      color:$white;
      font-weight: 400;
    }
    p{
      font-size:16px;
      margin-top:20px;
      margin-bottom:10px;
      color:$white;
      font-weight:300;
    }

    .price_container{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding-top:40px;

      width:100%;


      .trybox{
        text-align:center;
        h3{
          font-size:20px;
          font-weight:500;
        }
        p{
          font-size:16px;
          font-weight:300;
        }
      }
    }
    .pricing_box{
      width:50%;
      display: flex;
      align-items:center;
      flex-direction: column;
      &.left{
        align-items:flex-end;
      }
      &.right{
        align-items:flex-start;

      }

      .price_detail{

        display:flex;
        flex-direction:column;
        margin-top:0px;
        margin-bottom:10px;
        padding:20px 60px;
        background:$white;
        color:$blue_q;
        border-radius:5px;
        height: 200px;
        &.left{
          margin-right:25px;
        }
        &.right{
          margin-left:25px;
        }


        p{
          font-size:16px;
          font-weight:300;
          margin-top:0;
          color:$primary-color;

          text-align:center;
        }
        .price_price{
          display:flex;
          flex-direction:row;
          align-items: center;
          justify-content: center;

          span.price_sym{

            font-size:16px;
            font-weight:300;
          }
          span.price_num{
            font-size:100px;
            font-weight:500
          }
        }


        span.price_spec{
          font-size:12px;
          font-weight:300;
          text-align:center;
          color:$primary-color;
        }

        .price_contact{

          p{
            font-size:14px;
            color:$primary-color;
            line-height:1.5;
            margin-top:10px;

          }


        }
        .price_form{
          #mc_embed_contact_scroll{
            display:flex;
            flex-direction: column;
            align-items: center;
            margin-top:10px;
            .mc-field-group{
              display:flex;
              flex-direction: column;
              input{
                -webkit-appearance: none;
                -webkit-border-radius: 0;
                outline: none;
                width:150px;
                padding:10px;
                border:1px solid $light_grey;
                border-radius:5px;
                font-size:16px;
              }


            }
            input[type="submit"].button{
              -webkit-appearance: none;
              -webkit-border-radius: 0;
              outline:none;
              background:$green_q;
              color:$white;
              border:none;
              border-radius:5px;
              font-size:16px;
              padding:10px;
              margin-top:24px;
              width:172px;

            }
          }
        }

      }

    }

    a:link, a:visited, a:hover, a:visited:hover {
      padding:10px 20px;
      color:$white;
      text-decoration:none;
      background: $green_q;
      display:inline-block;
      width:150px;
      border-radius:5px;
      text-align:center;
      margin-top:40px;
    }
    .price_features{
      p{
        margin-top:40px;
        margin-bottom:0px;
      }

    }

  }

  .q_footer{
    display:flex;
    flex-direction:row;
    width:auto;
    padding:50px;
    background: $primary-color;
    color:$white;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .qf_block{
      width:30%;
    }

    .socials{
      h3{
        font-size:16px;
        color:$white;
        font-weight:300;
        margin-bottom:30px;
      }
      .social_links{
        a img{
          width:40px;
          height:auto;
        }

      }
    }

    .company{
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;

      .company_links{
        display: flex;
        flex-direction: row;
        margin-top:20px;
        font-size:14px;
        font-weight:300;

        a:link, a:visited{
          color:$white;
          text-decoration: underline;
          margin:10px;
        }
        a:hover, a:visited:hover{
          color:$white;
          text-decoration: none;
          margin:10px;
        }
      }
      img{
        width:200px;
        height:auto;
        margin-bottom:30px;
      }
      p{
        color:$white;
        line-height:18px;
        font-weight:300;
        font-size:14px;
        a:link,a:visited{
          color:$white;
          text-decoration:underline;

        }
        a:hover, a:visited:hover{
          text-decoration:none;

        }
      }
    }
  }

  .q_logo{
    img{
      width:150px;
    }
  }
  .q_info{
    font-size:11px;
    color:$white;
    font-weight:300;
    line-height:1.4;
  }

  .q_links{
    a:link, a:hover, a:visited, a:visited:hover{
      color:$white;
      font-size:12px;
      text-decoration:none;
      margin-left:10px;
      margin-right:10px;
    }
  }
  .q_socials{
    img{
      width:25px;

    }
  }

}

@media (max-width: 768px){


  .container .any_question #mc_embed_contact_scroll, .container .any_question #mc_embed_signup_scroll{
    display:flex;
    flex-direction: column;
    width:80%;
    margin:0 auto;
  }

  .top_container{
    background-size: cover;
    background-position: center;
  }

  .top_container .top_titles{

    margin-top:90px;

    h1{
      font-size:60px;
      line-height:1.3;
      font-weight:300;
      color:$white;

    }
    p{

      margin-top:30px;
      line-height: 1.4;
      width:90%;


    }

  }

  .container{

    .cookie_content{
      a, a:link, a:visited, a:hover, a:visited:hover{
        color:#383838;
        text-decoration: underline;
      }
    }
    .simpletext_content{
      display: flex;
      flex-direction: column;
      padding-bottom:50px;
      width:80%;
      margin:0 auto;
      h3{
        color:$blue_q;
        font-size:30px;
        font-weight:300;
        width:100%;
        text-align:center;
        margin-bottom:50px;
      }
    }
    .why_q{
      display: flex;
      flex-direction: column;
      padding-bottom:50px;

      h3{
        color:$blue_q;
        font-size:30px;
        font-weight:300;
        width:100%;
        text-align:center;
        margin-bottom:50px;

      }
      .why_q_content{
        display: flex;
        flex-direction:column;

        .block{
          padding:20px;
          display:flex;
          flex-direction:column;
          .why_q_img{
            display: flex;
            align-items: center;
            img{

              width:150px;
              height:auto;
              margin:0 auto;
            }
          }
          .why_q_text{
            display:flex;
            flex-direction: column;
            h3{
              font-size:20px;
              line-height:23px;
              height:40px;
              margin-top:20px;
              margin-bottom:15px;
              font-weight:400;
            }
            p{
              font-size:14px;
              font-weight:300;
              line-height: 1.3;
              text-align:center;

            }
          }

        }

      }
    }
    .how_q{
      background:$white;
      color:$primary-color;
      width:100%;
      padding-top:50px;
      padding-bottom:50px;
      h3{
        color: #a6a6a6;
        font-size:30px;
        font-weight:300;
        width:100%;
        text-align:center;
        margin-bottom:50px;
      }

      .how_q_block{
        display:flex;
        flex-direction:column;
        margin-bottom:50px;
        .img_how_q{
          width:70%;
          padding:20px;
          margin:auto;
          display:none;
        }
        .img_how_q_m{
          display:block;
          width:100%;
          text-align:center;
          img{
            width:90%;
            margin:0 auto;
          }
        }
        .text_how_q{
          display:flex;
          flex-direction:column;
          justify-content: center;
          padding-left:20px;
          width:90%;
          .text_content{
            flex-direction:column;
            display: flex;
            .head_how{

              display:flex;
              flex-direction: row;
              align-items: center;
              .how_number{
                min-width:50px;
                height:50px;
                background: $blue_q; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient(left top, $blue_q, $green_q); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(bottom right, $blue_q, $green_q); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(bottom right, $blue_q, $green_q); /* For Firefox 3.6 to 15 */
                background: linear-gradient(to bottom right, $blue_q, $green_q); /* Standard syntax */
                background-repeat: no-repeat;
                color:$white;
                font-size:30px;
                font-weight:500;
                border-radius:5px;
                display:none;
                align-items: center;
                justify-content:center;

              }
              h4{
                font-size:30px;
                margin-left:0px;
                text-align:center;
                width:100%;
              }

            }
            .how_text{
              display: flex;
              flex-direction: column;
              p{
                margin-left:0px;
                width:100%;
                font-size:20px;
                line-height: 25px;
                font-weight:300;
                text-align: center;
                color: $primary-color2;
              }
            }
          }

        }
      }

      .how_q_block.last{
        .img_how_q{
          order:1;
        }
      }
    }
    .try_free{
      .price_container{
        flex-direction:column;

        .pricing_box{
          width:100%;
          display: flex;
          align-items:center;
          flex-direction: column;
          &.left{
            align-items:center;
          }
          &.right{
            align-items:center;
          }

          .price_detail{

            &.left{
              margin:0;
              margin-bottom:25px;
            }
            &.right{
              margin:0;
              margin-top:25px;
            }


          }
        }

      }



      h3{

        padding: 10px;
        text-align: center;

      }
      a:link, a:visited, a:hover, a:visited:hover {
        padding:11px 20px;
        color:$white;
        text-decoration:none;
        background: $green_q;
        display:inline-block;
        width:150px;
        border-radius:5px;
        text-align:center;
        margin-top:40px;
      }
      p{
        font-size:16px;
        margin-top:30px;
        margin-bottom:10px;
        color:$white;
        font-weight:300;
        text-align:center;
        width:100%;
        line-height:1.5;
      }
    }
    .q_footer{
      display:flex;
      flex-direction:column;
      width:auto;
      padding:30px;
      background: $primary-color;
      color:$white;
      flex-wrap: wrap;
      justify-content: space-between;


      div{
        margin-bottom:10px;
      }

      .qf_block{
        width:100%;
      }

      .socials{
        h3{
          font-size:16px;
          color:$white;
          font-weight:300;
          margin-bottom:30px;
          text-align:center;
        }
        .social_links{
          display:flex;
          justify-content: space-around;
          a img{
            width:30px;
            height:auto;
          }

        }
      }

      .company{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        img{
          width:130px;
          height:auto;
          margin-bottom:30px;
          margin-top:50px;
        }
        p{
          color:$white;
          line-height:20px;
          font-weight:300;
          font-size:12px;

          a:link,a:visited{
            color:$white;
            text-decoration:underline;


          }
          a:hover, a:visited:hover{
            text-decoration:none;

          }
        }
      }
    }
  }


}